[Desktop Entry]
Name=Shooter
Comment=Capture screen region
Exec=tclsh /home/john/src/wider/shooter.tcl
Icon=applets-screenshooter
Terminal=false
Type=Application
Categories=Utility;Accessories;
