[Desktop Entry]
Name=Shooter
Comment=Capture screen region
Exec=/home/john/src/wider/shooter/shooter
Icon=applets-screenshooter
Terminal=false
Type=Application
Categories=Utility;Accessories;
